<div class="chat-header">
  <div class="chat-header-title">
    ルーム1
  </div>
  <div class="chat-header-endchat">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="chat-body">
  <div class="chat-body-all">
    <div class="chat-body-title">
      <div class="chat-title-name">
      Tom
      </div>
      <div class="chat-title-date">
      2020/3/31(Wed) 12:00:00
      </div>
    </div>
    <div class="chat-body-message">
    おはようございます
    </div>

    <div class="chat-body-title">
      <div class="chat-title-name">
      John
      </div>
      <div class="chat-title-date">
      2020/3/31(Wed) 12:05:00
      </div>
    </div>
    <div class="chat-body-message">
    さようなら
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
