<div class="chat-body">
  <div class="chat-body-all">
    <div class="chat-body-title">
      <div class="chat-title-name">
        <%= message.user.name %>
      </div>
      <div class="chat-title-date">
        <%= message.created_at %>
      </div>
    </div>
    <div class="chat-body-message">
      <%= message.content %>
    </div>
  </div>
</div>