<div class="sidebar-header">
  <div class="sidebar-header-name">
    <a href="#">Tom</a>
  </div>
  <div class="sidebar-header-new">
    <a href="#">ちゃっとを作成する</a>
  </div>
</div>
<div class="sidebar-body">
  <div class="sidebar-rooms">
    <div class="sidebar-roomname">
      <a href="#">ルーム1</a>
    </div>
  </div>
  <div class="sidebar-rooms">
    <div class="sidebar-roomname">
      <a href="#">ルーム2</a>
    </div>
  </div>
</div>