<div class="sidebar-header">
  <div class="sidebar-header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="sidebar-header-new">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="sidebar-body">
  <% current_user.rooms.each do |room| %>
    <div class="sidebar-rooms">
      <div class="sidebar-roomname">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>