.wrapper {
  display: flex;
}

/* サイドバー */

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.sidebar-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.sidebar-header-new a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.sidebar-body {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.sidebar-rooms {
  padding: 20px 0 40px;
}

.sidebar-roomname a{
  color: white;
  text-decoration: none;
}

/* メインチャット */

.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;

}

.chat-header-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-header-endchat {
  margin-top: 40px;
}

.chat-header-endchat a{
  border: 1px solid darkred;
  padding: 20px;
  color: darkred;
  text-decoration: none;
}

.chat-body {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat-body-title {
  display: flex;
  margin-top: 10px;
}

.chat-title-name {
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}

.chat-title-date {
  font-size: 12px;
  color: #999;
}

.chat-body-message {
  font-size: 14px;
  color: #434a54;
  margin-top: 10px;
  margin-bottom: 40px;
}

.chat-bottom {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 10px;
}

.form-submit {
  background-color: #381ef0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

/* メッセージ投稿 */